<div class="card m-3 p-3">
  <div>
    <atom-button-component
      text="Personel Listesi"
      btnType="outline-success"
      icon="user"
      extraClass="m-2"
      (click)="navigatePersonal()"
    ></atom-button-component>
    <atom-button-component
      text="Proje Listesi"
      btnType="linkedin"
      icon="folder-o"
      extraClass="m-2"
      (click)="navigateProjectPage()"
    ></atom-button-component>
  </div>
  <hr />
  <h4>Genel Takvim</h4>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Personel</th>
        <th>İlerleme</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of setDataList(); let i = index">
        <td>
          User
        </td>
        <td>{{ item.name }}</td>
        <td>55%</td>
      </tr>
    </tbody>
  </table>
</div>
