/* You can add global styles to this file, and also import other style files */
nav.pcoded-navbar {
  overflow: auto !important;
}

html::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
nav::-webkit-scrollbar-track {
  background-color: #ffffff !important;
}

html::-webkit-scrollbar,
div::-webkit-scrollbar,
nav::-webkit-scrollbar {
  width: 10px !important;
  background-color: #f5f5f5 !important;
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
nav::-webkit-scrollbar-thumb {
  background-color: #c9c8c8 !important;
}
html::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover,
nav::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2 !important;
}

.pcoded-item > li.active > a,
.pcoded-item > li:hover > a,
.pcoded-item > li:hover span,
.pcoded-item > li:hover i {
  background: #dfe6f3 !important;
  color: black !important;
  box-shadow: unset !important;
}
